body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 768px;
    background-color: lightgray;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5ch 1ch;
    border-bottom: 0.2rem double darkslategray;
}

header nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: darkslategray;
}

@media (width > 320px) {
    header nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

header nav h2 {
    font-size: 1.5rem;
    width: fit-content;
    text-transform: uppercase;
}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    font-size: 1.1rem;
    gap: 0.8ch;
}

header nav ul a, a:visited {
    color: darkslategray;
    text-decoration: none;
}

header h1 {
    color: #486565;
    display: flex;
    justify-content: center;
    font-family: "Amarna", sans-serif;
}