body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 768px;
    background-color: lightgray;
    font-family: Roboto, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 0.5ch 1ch;
    border-bottom: 0.2rem double darkslategray;
}

header nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: darkslategray;
}

@media (width > 320px) {
    header nav {
        flex-direction: row;
        justify-content: space-between;
    }
}

header nav h2 {
    font-size: 1.5rem;
    width: fit-content;
    text-transform: uppercase;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header nav ul {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    gap: 0.8ch;
}

header nav ul a, a:visited {
    color: darkslategray;
    text-decoration: none;
}

header h1 {
    color: #486565;
    display: flex;
    justify-content: center;
    font-family: "Amarna", sans-serif;
}

main {
    background-color: white;
    padding: 0 1ch 3ch 1ch;
    display: flex;
    flex-direction: column;
}

@media (width > 320px) {
    main {
        flex-direction: row;
    }
}

section h2 {
    justify-self: center;
}

@media (width > 320px) {
    section {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 2ch 0;
    border-top: 0.2rem double darkslategray;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1ch;
}

@media (width > 320px) {
    form {
        min-width: 30ch;
    }
}

form div {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 0.8rem;
}

form input {
    font-size: 1.25rem;
}

form textarea {
    font-size: 1.1rem;
    min-height: 10ch;
}

form button {
    padding-block: 2ch;
}